*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(58, 57, 57);
    margin: 0 0 30px 0 ;
    display: flex;
    justify-content: center;
}
.btn-cart{
   padding: 10px 25px;
   margin: 5px 0;
   border-radius: 5px;
   color: #fff;
   background: #f87; 
   border-color: rgb(255, 177, 192);
}
.btn-cart:hover{
    cursor: pointer;
}
.products{
    display: flex;
    justify-content: space-between;
}
.product-item{
    width: 250px;
    height: 320px;
    border: 1px solid #2098bd;
    display: flex;
    flex-direction: column;
}
.by-btn{
    padding: 5px 12px;
    border-radius: 5px;
    margin: 5px 50px;
    color: #fff;
    background: #f87; 
    border-color: rgb(255, 177, 192);
}
.by-btn:hover{
    cursor: pointer;
}
